extends layout

block content
  style.
    td {
      padding: 16px;    
    }

  .container
    h1 #{title}
    p.lead #{description}
    br

    table
      thead
        tr 
          th _id
          th username
          th email
          th first name
          th last name
          th Profile
      tbody
        each user in data
          tr
            td 
              a(href='/api/v1/users/' + user.username) #{user.id}
            td 
              a(href='/api/v1/users/' + user.username) #{user.username}
            td 
              a(href='/api/v1/users/' + user.username) #{user.email}
            td 
              a(href='/api/v1/users/' + user.username) #{user.first_name}
            td 
              a(href='/api/v1/users/' + user.username) #{user.last_name}
            td
              img(src="#{user.profile_picture}", alt="profile-picture")
        else
          h2 No users found