extends layout

block content
  .container
    h1 #{title}
    p.lead #{description}
    br

    ul
      for user in data
        li
          div
            ul
              p ------------------------------
              li= 'User_ID: ' + user._id
              if (user.ig_id)
                li= 'Instagram_ID: ' + user.ig_id
              li= 'Username: ' + user.username
              p ------------------------------
              br
      else
        li No users found